@import "global";

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  display: flex;
  background: $color--primary;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

body {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

.break {
  &.horz {
    width: 100%;
    height: 0px;
  }
}

.b-all {
  border: $border--main;
}

.b-top {
  border-top: $border--main;
}
.b-right {
  border-right: $border--main;
}
.b-bottom {
  border-bottom: $border--main;
}
.b-left {
  border-left: $border--main;
}

#toolbar {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  background: $color--g-primary;
  border-color: $color--g-border;

  & #tb-primary {
    width: calc(100% - 78px);
    align-self: flex-end;
    height: 28px;
    background: $color--g-primary;
    box-sizing: border-box;
  }

  & #tb-sub {
    width: 100%;
    height: 42px;
    background: $color--g-secondary;
  }
}

#primary-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
}

#tools-left {
  width: 250px;
  background: $color--secondary;
}

#center-content {
  min-width: 300px;
  flex-grow: 1;
  background: $color--secondary;
}

#app-home {
  display: flex;
  flex-flow: row wrap;
  margin: 15px;
}

#tools-right {
  min-width: 200px;
  background: $color--secondary;
}